<script>

	
</script>

<div ng-controller="SavLoanCalculatorCtrl" ng-init="init();" >
	<div class="container-fluid well ">
		<div class="row" >
			<div class="col-xs-4 col-sm-4">
				计算器类型
			</div>
			<div class="col-xs-8 col-sm-8">
				<select title="计算器类型" id="CalculatorType" name="CalculatorType"
						ng-model="CalculatorType" required class="col-xs-12 col-md-8 col-sm-6"
						ng-options="item.Name for item in CalculatorTypeList"></select>
			</div>
		</div>
		
		<div ng-show="CalculatorType.Name == '贷款计算器'">
			<form name="form1" novalidate ng-submit="calculate1()">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					等额本息还款
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					贷款种类
				</div>
				<div class="col-xs-8 col-sm-8">
					<select title="贷款种类" id="LoanName" name="LoanName"
									ng-model="LoanName" class="span12"
									ng-options="item.LoanName for item in LoanNameList" ng-change="loanRateQry('0')"></select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					贷款本金
				</div>
				<div class="col-xs-8 col-sm-8">
					<input type="number" id="Capital1" class='span10'
									name="Capital1" ng-model="Capital1" placeholder="请输入贷款本金"
									required maxlength="10"> </input>&nbsp;&nbsp;元
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					贷款年限
				</div>
				<div class="col-xs-8 col-sm-8">
					<input type="number" id="LoanYear1" class='span10'
									name="LoanYear1" ng-model="LoanYear1" min="1" max="30"
									placeholder="请输入贷款年限" required ng-pattern="/^[1-9]\d*$/">
					</input>&nbsp;&nbsp;年
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					年利率
				</div>
				<div class="col-xs-8 col-sm-8">
					<input type="number" id="YearRate1" class='span10'
									name="YearRate1" ng-model="YearRate1" min="0.00" max="99.99"
									placeholder="请输入年利率" required > </input>&nbsp;&nbsp;%
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					每期偿还本息额
				</div>
				<div class="col-xs-8 col-sm-8">
					{{Money1|number:2}}&nbsp;&nbsp;元
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 warning">
					温馨提示:计算结果仅供参考。
				</div>
			</div>
			<button type="submit" class="button btn btn-info">计算</button>
			</form>
			
			
			<form name="form2" novalidate ng-submit="calculate2()">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
						等额本金还款
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					贷款种类
				</div>
				<div class="col-xs-8 col-sm-8">
					<select title="贷款种类" id="LoanName2" name="LoanName2"
									ng-model="LoanName2" class="span12"
									ng-options="item.LoanName for item in LoanNameList" ng-change="loanRateQry('1')"></select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					贷款本金
				</div>
				<div class="col-xs-8 col-sm-8">
					<input type="number" id="Capital2" class='span10'
									name="Capital2" ng-model="Capital2" placeholder="请输入贷款本金"
									required maxlength="10"> </input>&nbsp;&nbsp;元
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					贷款年限
				</div>
				<div class="col-xs-8 col-sm-8">
					<input type="number" id="LoanYear2" class='span10'
									name="LoanYear2" ng-model="LoanYear2" min="1" max="30"
									placeholder="请输入贷款年限" required ng-pattern="/^[1-9]\d*$/">
					</input>&nbsp;&nbsp;年
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					年利率
				</div>
				<div class="col-xs-8 col-sm-8">
					<input type="number" id="YearRate2" class='span10'
									name="YearRate2" ng-model="YearRate2" min="0.00" max="{{maxTerm}}"
									placeholder="请输入年利率" required > </input>&nbsp;&nbsp;%
				</div>
			</div>		
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					已归还期数
				</div>
				<div class="col-xs-8 col-sm-8">
					<input type="number" id="Termed2" class='span10'
									name="Termed2" ng-model="Termed2" min="0.00"
									placeholder="请输入已归还期数" required > </input>&nbsp;&nbsp;月
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4">
					下期偿还本息额
				</div>
				<div class="col-xs-8 col-sm-8">
					{{Money2|number:2}}&nbsp;&nbsp;元
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 warning">
					温馨提示:计算结果仅供参考。
				</div>
			</div>
			<button type="submit" class="button btn btn-info">计算</button>			
			</form>		
		</div>
	</div>
</div>